{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Đã gửi email</title>

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
  <div class="auth-box">
    <h2>Đã gửi email</h2>
    <p>Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.</p>

    <div class="auth-footer">
      <a href="{% url 'login' %}">← Quay lại đăng nhập</a>
    </div>
  </div>
</div>

</body>
</html>