{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Đặt lại mật khẩu</title>

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
  <div class="auth-box">
    <h2>Nhập mật khẩu mới</h2>

    {% if validlink %}
    <form method="post">
      {% csrf_token %}

      <div class="input-group">
        <label>Mật khẩu mới</label>
        {{ form.new_password1 }}
      </div>

      <div class="input-group">
        <label>Nhập lại mật khẩu</label>
        {{ form.new_password2 }}
      </div>

      <button type="submit" class="btn-primary">
        Đổi mật khẩu
      </button>
    </form>
    {% else %}
      <p>Link đã hết hạn hoặc không hợp lệ.</p>
    {% endif %}

  </div>
</div>

</body>
</html>